.b-block1 {
    margin-bottom: 6.45%;

    .b-block__title {
        margin-bottom: 0.85em;
    }

    .b-half-hero {
        justify-content: flex-start;
        margin-bottom: 3.333333%;
        position: relative;
        &:after {
            content: "";
            display: block;
            width: (165/249) * 100%;
            padding-bottom: 4%;
            background-color: $orange;
            position: absolute;
            bottom: -5%;
            // z-index: -1;
        }

        .b-bg-image {
            background-image:url($src+'half-hero-mobile.png');
            width: (249/320) * 100%;
            padding-bottom: (179/320) * 100%;
            // position: relative;
            z-index: 1;
        }
    }

    .b-text {   
        &:last-of-type {
            margin-bottom: 0.75em;
        }
    }
    
    // TABLET
    @media(min-width:$breakpoint-small) {
        flex-direction: row;
        align-items: flex-start;

        .b-element {
            &:last-of-type {
                .b-container {
                    width: 547/720 * 100%;
                }
            }
        }
        
        .b-half-hero {
            margin-bottom: 0;
            &:after {
                width: (229/249) * 100%;
            }

            .b-bg-image {
                background-image:url($src+'half-hero.png');
                width:100%;
                padding-bottom: (506/1440) * 200%;
            }
        }

        .b-wrapper {
            &:last-of-type {
                .b-container {
                    width: 82.375%;
                }
            }
        }
        .b-text {
            max-width: 33em;
        }

        .b-block__title {
            margin-top: 0;
        }
    }
}