.b-block4 {
    width: (1356/1440) * 100%;
    margin-left: auto;
    margin-right: auto;

    .b-block__title {
        margin: 1.175em auto;
    }

    .b-list { 
        margin-bottom: 2em;

        .b-item {
            display: flex;
        }
    }

    // TABLET
	@media(min-width:$breakpoint-small) {
        .b-list {
            width: 100%;
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-bottom: 4em;

            .b-item {
                flex-basis: (1/2) * 100%;
                width: (1/2) * 100%;
            }
        }
    }

    @media(min-width:$breakpoint-medium) {
        .b-list {
            .b-item {
                flex-basis: (1/3) * 100%;
                width: (1/3) * 100%;
            }
        }
    }
}