.b-block {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    max-width: $site-width;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &--white {
        background-color: white;
    }
    &--black {
        background-color: black;
    }

    &__title {
        font-size: $font-large;
        line-height: 1.31;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.011904em;
        text-align: left;
        color: black;
        font-family: $proxima;
        text-transform: uppercase;
        margin-bottom: 0.65em;
        margin-top: 0.65em;
        text-align: center;

        &--left {
            text-align: left;
        }

        &--large {
            font-size: $font-large;
        }

        &--wide-letter {
            letter-spacing: 0.07142em;
        }

        &--white {
            color: white;
        }

        @media(min-width:$breakpoint-medium) {
            font-size: $font-xlarge;
            line-height: 1.175;
            margin-bottom: 0.45em;
            margin-top: 0.45em;

            &--large {
                font-size: $font-xxlarge;
                line-height: 1.175;
            }
        }
    }
}