.b-btn {
    color: $orange;
    font-family: $proxima;
    font-size: $font-small;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid $orange;
    background: transparent;
    width: 270px;
    height: 50px;
    box-shadow: 4px 4px;
    margin: 2em auto;
    cursor: pointer;
}