.b-footer {
    max-width: none;
    padding-bottom: 3.75em;
    &:before {
        content: "";
        display: block;
        position: absolute;
        // top:-200px;
        top:-199px;
        z-index: -1;
        height: 200px;
        width: 100%;
        background-color: black;
    }

    .b-block__title {
        margin: 0.5em auto;
        line-height: normal;
    }

    .b-text {
        text-align: center;
        margin-top: 0.25em;
        margin-bottom: 0.5em;
    }

    @media(max-width: 767px) {
        .b-block__title {order: 1; }
        .b-text--contact {order: 2; }
        .b-btn {order: 3; }
    }
}