.b-item {
    text-align: center;
    margin-bottom: 1em;

    &__contact {
        width: 100%;
        max-width: 386px;
        background: white;
        padding-bottom: 2.1em;
        padding-top: 2.1em;
        border-bottom: 5px solid transparent;
        transition: border-color 200ms ease;
        margin: 0 1em;
        min-width: 274px;

        &:hover {
            border-color: $orange;
        }
    }

    &__image {
        // width: 100%;
        width: 60%;
        max-width: 224.6px;
        display: block;
        // margin: 0 auto 1.45em;
        margin: 0 auto 1.4em;
    }

    &__title {
        font-size: $font-small;
        font-weight: 600;
    }
    
    &__job-title,
    &__name,
    &__link {
        text-transform: none;
        // margin: 0 auto 0.4em;
        margin: 0 auto;
        font-size: $font-normal;
        line-height: 1.4375em;
    }

    &__job-title {
        color: $grey;
        font-style: italic;
        font-family: $caslon;
        font-weight: normal;
        // font-size: 1.0625em;
        // margin-bottom: 0.32em;
        margin-bottom: 0.4em;
        line-height: 1.42em;
    }

    &__link,
    &__linked-in {
        display: block;
        transition: color 200ms ease;

        &:hover {
            color: $orange;
            &:after {
                background: $orange;
            }
        }
    }

    // &__link {
    //     margin-bottom: 0.825em;
    // }
    &__link,
    &__name {
        font-weight: 600;
    }

    &__linked-in {
        text-transform: uppercase;
        font-size: $font-small;
        line-height:  1.214em;
        letter-spacing: 0.0857em;
        display: inline-block;
        font-weight: 700;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 0.2em;
            margin-top: 0.1em;
            background-color: black;
            transition: background-color 200ms ease;
        }
    }

    @media(min-width:$breakpoint-small) {
        &__image {
            margin: 0 auto 1.45em;
            width: 67%;
        }

        &__name {
            margin: 0 auto 0.4em;
        }

        &__link {
            margin: 0 auto 0.825em;
        }

        &__job-title {
            font-size: 1.0625em;
            margin-top: 0.4em;
            margin-bottom: 0.32em;
        }
    }

    @media(min-width:$breakpoint-medium) {
        &__title {
            font-size: $font-medium;
        }
    }
}