$black: #000;
$white: #fff;
$cream: #f5f5f3;
// $orange: #f46f25;
$orange:rgb(241, 100, 35);
$grey: #a7a8aa;

$site-width: 1440px;

$proxima: "proxima-nova",sans-serif;
$caslon: "adobe-caslon-pro",serif;

// Breakpoints
$breakpoint-xsmall      : 480px;     // 480px
$breakpoint-small       : 768px;     // 768px
$breakpoint-medium      : 1024px;     // 1024px

// Font Size
$font-xxxxlarge: 9.375em; // 150px;
$font-xxlarge: 3em;     // 48px;
$font-xlarge: 2.625em;  // 42px;
$font-_large: 2.25em;       // 36px
$font-large: 2em;       // 32px
$font-xxmedium: 1.5em;  // 24px;
$font-xmedium: 1.375em;  // 22px;
$font-medium: 1.125em;  // 18px;
$font-normal: 1em;      // 16px;
$font-small: 0.875em;   // 14px;